.ChatWindow {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #223344ee;
    height: 16rem;
    max-height: 25%;
    z-index: 20;
    flex-grow: 0;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}

.all-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: initial;
    color: white;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow-y: auto;
    padding: 0.5rem;
}

.your-message {
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.chat-message {
    display: flex;
    flex-direction: row;
    line-height: 1.35rem;
}

.chat-message-name {
    font-weight: bold;
}

.chat-message-content {
    margin-left: 0.5rem;
}