@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --main-bg-color: #223344;
}

html {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #123;
}

.screen-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}